<template>
  <div>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <div class="title">
      <p class="app-title">Users List</p>
      <v-btn color="#F73631" dark @click="dialog = true">Add User</v-btn>
    </div>
    <v-card outlined class="px-4 py-6">
      <div class="search w-50">
        <v-form ref="form">
          <v-text-field
            v-model="search"
            label="Search User"
            prepend-inner-icon="mdi-magnify"
            outlined
            dense
          >
          </v-text-field>
        </v-form>
      </div>
      <div class="table">
        <v-data-table
          :headers="headers"
          :items="userList"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:item.actions="{item}">
            <div class="d-flex flex-row align-center justify-end">
              <v-btn color="#F73631" small dark outlined @click="editUser(item)">Edit</v-btn>
              <v-btn icon color="#CCCCCC" @click="confirmDelete(item)" class="ml-4">
                <v-icon>mdi-trash-can</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </div>
    </v-card>

    <!-- dialog add user -->
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="isEdit == false">Add User</span>
          <span class="headline" v-else>Edit User</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field label="Name*" v-model="name"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Username*" v-model="username"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="8">
                <v-text-field label="Email*" v-model="email"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Phone*" v-model="phone"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions class="mr-6">
          <v-spacer></v-spacer>
          <v-btn class="mb-4" color="blue darken-1" text @click="closeDialog">Close</v-btn>
          <v-btn class="mb-4" color="#F73631" dark @click="submitForm" :loading="loadingSave">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- dialog success -->
    <v-dialog v-model="dialogSuccess" persistent max-width="350">
      <v-card class="pa-8 pb-10 d-flex flex-column justify-center">
        <img src="@/assets/img/success.png" alt="success" class="mx-auto">
        <v-card-title class="title-card mx-auto">Success</v-card-title>
        <p class="mx-auto message">{{ successMessage }}</p>
        <v-card-actions class="pa-0">
          <v-spacer></v-spacer>
          <v-btn
            @click.prevent="closeAndLoad"
            color="#F73631" class="mt-3 w-full"
            width="100%"
            dark>
            <span class="text-capitalize">Okay</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- dialog failed -->
    <v-dialog v-model="dialogFailed" persistent max-width="350">
      <v-card class="pa-8 pb-6 d-flex flex-column justify-center">
        <v-icon color="#F32626" size="100px" class="mx-auto">mdi-alert-circle-outline</v-icon>
        <v-card-title class="title-card mx-auto">Failed</v-card-title>
        <p class="mx-auto message">{{ errorMessage }}</p>
        <v-card-actions class="pa-0">
          <v-spacer></v-spacer>
          <v-btn
            @click.prevent="dialogFailed = false"
            color="#F73631" class="mt-3 w-full"
            width="100%"
            dark>
            <span class="text-capitalize">Okay</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- dialog confirm -->
    <v-dialog v-model="dialogConfirm" persistent max-width="350">
      <v-card class="pa-8 pb-4 d-flex flex-column">
        <v-icon color="#F32626" size="100px" class="mx-auto">mdi-alert-circle-outline</v-icon>
        <v-card-title class="title-card mx-auto">Confirm Delete</v-card-title>
        <p class="mx-auto message">Are you sure want to delete this user?</p>
        <v-card-actions class="mr-6">
          <v-spacer></v-spacer>
          <v-btn class="mb-4" color="blue darken-1" text @click="closeDialog">Close</v-btn>
          <v-btn class="mb-4" color="#F73631" dark @click="deleteUser" :loading="loadingDelete">Yes, delete this user</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('user')

export default {
  data () {
    return {
      name: null,
      username: null,
      email: null,
      phone: null,
      dialog: false,
      overlay: false,
      search: null,
      headers: [
        { text: 'Name', value: 'name' },        
        { text: 'Username', value: 'username' },
        { text: 'Email', value: 'email', sortable: false },
        { text: 'Phone', value: 'phone', sortable: false },
        { text: '', value: 'actions', sortable: false }
      ],
      dialogSuccess: false,
      dialogFailed: false,
      dialogConfirm: false,
      successMessage: null,
      errorMessage: null,
      loadingSave: false,
      loadingDelete: false,
      isEdit: false
    }
  },
  created () {
    this.overlay = true
    this.$store.dispatch('user/getListUser')
      .then(response => {
        this.overlay = false
      })
      .catch((error) => {
        this.overlay = false
        this.errorMessage = "System error"
        this.dialogFailed = true
      })
  },
  computed: {
    ...mapState({
      userList: state => state.userList
    })
  },
  methods: {
    closeAndLoad () {
      this.dialog = false
      this.dialogConfirm = false
      this.dialogSuccess = false
      this.isEdit = false
      this.name = null
      this.username = null
      this.email = null
      this.phone = null
      this.$store.commit('user/SET_SELECTED_ID', null)
    },
    closeDialog () {
      this.dialogConfirm = false
      this.isEdit = false
      this.dialog = false
      this.name = null
      this.username = null
      this.email = null
      this.phone = null
      this.$store.commit('user/SET_SELECTED_ID', null)
    },
    editUser (item) {
      this.isEdit = true
      this.dialog = true
      this.name = item.name
      this.username = item.username
      this.email = item.email
      this.phone = item.phone
      this.$store.commit('user/SET_SELECTED_ID', item.id)
    },
    confirmDelete (item) {
      this.dialogConfirm = true
      this.$store.commit('user/SET_SELECTED_ID', item.id)
    },
    deleteUser () {
      this.loadingDelete = true
      this.$store.dispatch('user/deleteUser')
        .then(response => {
          this.successMessage = 'Successfully delete user'
          this.dialogSuccess = true
          this.loadingDelete = false
        }).catch((error) => {
          this.errorMessage = "System error"
          this.dialogFailed = true
          this.loadingDelete = false
        })
    },
    submitForm () {
      this.loadingSave = true
      let allData = JSON.stringify({
        name: this.name,
        username: this.username,
        email: this.email,
        phone: this.phone
      })
      if (this.isEdit == false) {
        this.$store.dispatch('user/postUser', allData)
          .then(response => {
            this.successMessage = 'Successfully added user'
            this.dialogSuccess = true
            this.loadingSave = false
          }).catch((error) => {
            this.errorMessage = "System error"
            this.dialogFailed = true
            this.loadingSave = false
          })
      } else {
        this.$store.dispatch('user/editUser', allData)
          .then(response => {
            this.successMessage = 'Successfully edit user'
            this.dialogSuccess = true
            this.loadingSave = false
          }).catch((error) => {
            this.errorMessage = "System error"
            this.dialogFailed = true
            this.loadingSave = false
          })
      }
    } 
  }
}
</script>
