<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    clipped
    color="white lighten-4"
  >
    <v-list
      dense
      class="white lighten-4"
    >
      <template v-for="(item, i) in sidebarData">
        <v-row
          v-if="item.heading"
          :key="i"
          align="center"
        >
          <v-col cols="12">
            <v-subheader v-if="item.heading">
              {{ item.heading }}
            </v-subheader>
          </v-col>
        </v-row>
        <v-divider
          v-else-if="item.divider"
          :key="i"
          dark
          class="my-4"
        />
        <v-list-item
          v-else
          :key="i"
          link
          :to="item.to"
        >
          <v-list-item-action>
            <v-icon color="#F73631">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text" style="margin-left:-15px">
            {{ item.text }}
          </v-list-item-title>
        </v-list-item>
      </template>
    </v-list>
    </v-navigation-drawer>
</template>

<script>
import { sidebar, mainMenu } from '@/router/nav'

export default {
  name: 'AppSidebar',
  props: ['drawer'],
  data () {
    return {
      mini: false
    }
  },
  computed: {
    sidebarData () {
      return sidebar
    }
  }
}
</script>

<style lang="scss">
#keep .v-navigation-drawer__border {
  display: none
}
</style>
